@import "../../vars.css";

.container {
    color: var(--color-text);
    margin-top: 7.5em;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 3.625em 10%;
    gap: 0.625em;
}

.text h2 {
    font-size: 3.125em;
    font-weight: 700;
    letter-spacing: 0.25em;
}

.text p {
    font-size: 1.875em;
    font-weight: 400;
    letter-spacing: 0.125em;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 1.625em;
}

.link {
    display: flex;
    align-items: center;
    gap: 1.5625em;
}

.link img {
    width: 1.875em;
}

.link a {
    color: var(--color-card-text);
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 0.09375em;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        margin-top: 6.25em;
        padding-top: 1.5em;
    }

    .text h2 {
        font-size: 2em;
    }

    .text p {
        font-size: 1.375em;
        margin-bottom: 0.75em;
    }

    .links {
        gap: 1.2em;
    }

    .link {
        gap: 1em;
    }

    .link img {
        width: 1.5em;
    }

    .link a {
        font-size: 0.875em;
        font-weight: 300;
    }
}